extends ./layout.jade

block content
  .row
    .large-12.columns
      h1 Demos
  .row
    .large-12.columns
      p This web site contains demonstrations of various JavaScript libraries.  Most of these are not owned or maintained by me, but I found them useful and wnated a quick way to see what the result of certain things would be.
      ul
        li
          a(href='/uglify-js') UglifyJS
          |  This lets you view the parser output from UglifyJS in the browser.
        li
          a(href='/htmlparser2') HTML Parser 2
          |  This lets you view the parser output from htmlparser2 in the browser.
        li
          a(href='/regexp') Regexp
          |  This lets you view the parser output from regexp in the browser.