doctype html
mixin ForbesLindesay()
  p <a href="http://www.forbeslindesay.co.uk">Forbes Lindesay</a> produced this demo in his free time and released it in the hope that other developers would find it useful.
html
  head
    meta(charset='utf8')
    block title
      title Demos
    link(href='/static/' + version + '/style.css', rel='stylesheet')
    //- for `stop` we must add background.png as an href
    meta(name='background-image', href='/static/' + version + '/background.png')
  body
    #wrap
      div(style='margin-bottom: 5em')
        block content
      #push
    #footer-wrapper
      footer
        p These demonstrations took a lot of time to build.  If you find them useful, if they save you a few minutes, please donate some money to their upkeep via 
          a(href='https://www.gittip.com/ForbesLindesay/') GitTip
          | .
        p
          | Developed by 
          a(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
          |  run by 
          a(href='http://www.jepso.com') JEPSO
        p By using this site you consent to the use of cookies
    block scripts
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35742700-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();